.Schedule {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

table {
  border-collapse: collapse;
}
table input {
  padding: 0.4em;
}
table button {
  margin: 0.2em;
}
tr {
  height: 3.5em;
}

th {
  border-bottom: 2px solid grey;
}
th.EventTime {
  width: 5em;
}
th.Update {
  width: 10em;
}
td {
  border-top: 1px solid grey;
}

th,
td {
  padding: 0.5em;
  box-sizing: border-box;
}

th > div,
td > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Clickable {
  cursor: pointer;
}
.Attendence {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 10rem;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.Attendence.Clickable {
  font-size: 0.8em;
  border: 1px solid grey;
}
