.ScheduleView {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

table.ScheduleTable {
  border-collapse: collapse;
}

table.ScheduleTable input {
  padding: 0.4em;
}

table.ScheduleTable button {
  margin: 0.2em;
}

table.ScheduleTable tr {
  height: 3.5em;
}

table.ScheduleTable th {
  border-bottom: 2px solid grey;
}

table.ScheduleTable th.EventTime {
  width: 5em;
}

table.ScheduleTable th.Update {
  width: 10em;
}

table.ScheduleTable th a {
  color: initial;
  text-decoration: initial;
}

table.ScheduleTable td {
  border-top: 1px solid grey;
}

table.ScheduleTable th,
table.ScheduleTable td {
  padding: 0.5em;
  box-sizing: border-box;
}

table.ScheduleTable th>div,
table.ScheduleTable td>div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
