.ScheduleView {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.ScheduleHighlight {
  background-color: lightgreen;
}

table a {
  color: inherit;
  text-decoration: initial;
}

/* ScheduleTable */

.ScheduleDesktop table input {
  padding: 0.4em;
}

.ScheduleDesktop table button {
  margin: 0.2em;
}

.ScheduleDesktop table {
  border-collapse: collapse;
}

.ScheduleDesktop tr {
  height: 3.5em;
}

.ScheduleDesktop th {
  border-bottom: 2px solid grey;
}

.ScheduleDesktop th.Update {
  width: 10em;
}

.ScheduleDesktop td {
  border-top: 1px solid grey;
}

.ScheduleDesktop th,
.ScheduleDesktop td {
  padding: 0.5em;
  box-sizing: border-box;
}

.ScheduleDesktop th>div,
.ScheduleDesktop td>div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* ScheduleMobile */

.ScheduleMobile {
  display: none;
  padding: 1em;
}

.ScheduleMobile table {
  border-collapse: collapse;
}

.ScheduleMobile th,
.ScheduleMobile td {
  padding: 0.5em;
  box-sizing: border-box;
  border-left: 1px solid lightgray;
}

.ScheduleMobile tr>*:first-child {
  border-left: none;
}

.ScheduleMobile th {
  border-bottom: 2px solid grey;
}

.ScheduleMobile td {
  border-top: 1px solid grey;
}

.ScheduleMobile table ol,
.ScheduleMobile table ul {
  padding-inline-start: 2em;
  text-align: left;
}

.ScheduleMobileOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;

  padding: 3em;
  box-sizing: border-box;

  background-color: rgba(0, 0, 0, 0.2);
}

.ScheduleMobileModal {
  padding: 1em;
  background-color: rgb(193, 236, 240);
}

@media (max-width: 900px) {
  .ScheduleDesktop {
    display: none;
  }

  .ScheduleMobile {
    display: initial;
  }
}
